$primary-color: #107c10;
$primary-color-hover: #006b00;
$content-color: #fff;
$ultimate-color: #505050;
$ultimate-color-hover: #404040;
$bg-color: #e2e2e2;
$btn-color: #99ff00;
$btn-color-hover: #88ee00;
